* {
	margin: 0;
	padding: 0;
}

.top-section {
	display: flex;
	background: #1F2937;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-around;
	padding: 15px;
}

.header > .logo {
	font-size: 24px;
	color: #F9FAF8;
}

.header > .nav-links {
	list-style: none;
	display: flex;
	gap: 15px;
}

.header > .nav-links > li > a {
	text-decoration: none;
	font-size: 18px;
	color: #E5E7EB;
}
