* {
	margin: 0;
	padding: 0;
}

.top-section {
	display: flex;
	background: #1F2937;
	flex-direction: column;
	align-items: space-around; 
}

.header {
	display: flex;
	justify-content: space-around;
	padding: 25px 0; 
}

.header > .logo {
	font-size: 24px;
	color: #F9FAF8;
}

.header > .nav-links {
	list-style: none;
	display: flex;
	gap: 15px;
}

.header > .nav-links > li > a {
	text-decoration: none;
	font-size: 18px;
	color: #E5E7EB;
}

.hero-section {
	display: flex;
	justify-content: space-around; 
	padding: 60px 20px; 
	align-items: center;
}

.hero-section > .main-text {
	max-width: 370px; 
}

.hero-section > .main-text > .heading {
	font-size: 48px;
	color: #F9FAF8;
	margin-bottom: 10px;
}

.hero-section > .main-text > .text {
	font-size: 18px;
	color: #E5E7EB;
	width: 325px;
}

.hero-section > .main-text > .button {
	background: #3882F6;
	padding: 10px 21px;
	border: none;
	border-radius: 8px;
	color: white;
	margin-top: 28px;
	font-weight: bold;
}

.hero-section > .img-container {
	color: #E5E7EB;
	background: darkgrey;
	padding: 80px; 
	font-size: 12px;
}
